:root{
    --dBlue: #05122d;
    --mBlue: #142750;
    --laranja: #fdaf30;
    --cinza: #e5e5e5;
    --light: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    background-color: var(--dBlue);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--dBlue) 0px 5px 15px;
    animation: fromTop 1s ease-in-out;
    z-index: 999;
}

@keyframes fromTop {
   0%{
    transform: translateY(-100px);
   }
   100%{
    transform: translateY(0);
   } 
}

nav a{
    color: var(--laranja);
    text-decoration: none;
    opacity: 0.8;
    transition: all 200ms ease-in-out;
}

nav a:hover{
    cursor: pointer;
    opacity: 1;
    text-decoration: underline;
    color:var(--light);
}

#s1 {
    height: 80vh;
    min-height: 80vh;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imgDiv{
    background-color: rgb(240, 219, 128);
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 10px var(--dBlue);
}

.imgStyle{
    width: auto;
    height: 300px;
    transition: all 200ms ease-in-out;
}
.imgStyle:hover{
    transform: scale(1.1);
}
.textDiv{
    background-color: rgb(166, 244, 89);
    width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.textDiv h2 {
    font-size: 28px;
}
 
.textDiv p {
    font-size: 18px;
}


#s2 {
    color: var(--light);
    min-height: 100vh;
    background-image: url("./images/floresta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
#s2 h1{
    font-size: 56px;
    text-shadow: 0px 3px 10px var(--laranja);
}
 
.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
 
.cards{
    border: 3px solid var(--light);
    padding: 20px;
    background-color: #00000084;
    border-radius: 20px;
    transition: all 200ms linear;
}
 
.cards:hover{
    box-shadow: 0px 3px 30px var(--cinza);
}
#s3 {
    min-height: 100vh;
    padding-top: 50px;
}

#s4 {
    min-height: 100vh;
    padding-top: 50px;
}

@media (width <= 1000px) {
    #s1 {
        height: auto;
        min-height: 90vh;
    }
 
    .textDiv {
        background-color: red;
        width: 100%;
    }
 
    .textDiv h2 {
        font-size: 30px;
    }
 
    .textDiv p {
        font-size: 20px;
    }
 
     .imgDiv {
        margin-top: 50px;
    }
}